footer{
    background-color: $button-background;
    padding: 60px 0;
    text-align: center;
    @include desc(1200px){
        text-align: left;
    }
}

.footer-logo{
    font-family: Raleway;
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0.03em;
    text-align: left;
    color: $logo-first;
    @include desc(1200px){
        font-size: 26px;
        line-height: 1.2;
    }
}

.footer-studio{
    color: $head-color;
}

.address{
    margin-top: 20px;
}

.address-list-link{
    font-weight: 400;
    line-height: 1.7;
    letter-spacing: 0.03em;
    text-align: left;
    color: $footer-adress;
}

a[href^="https"]{
    color: $head-color;
}

.adress-list-item{
    margin-bottom: 9px;
}

.footer-wrap{
    display: flex;
    flex-direction: column;
    gap: 60px;
    @include desc(1200px){
        flex-direction: row;
        justify-content: space-around;
    }
}

.footer-tab-wrap{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
    @include tab(768px){
        flex-direction: row;
        justify-content: space-around;
        align-items: baseline;
    }
    @include desc(1200px){
        gap: 70px;
    }
}

.join-wrap-title{
    color: rgba(255, 255, 255, 1);
    font-size: 14px;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 20px;
    margin-top: 12px;
    @include desc(1200px){
        text-align: left;
    }
}

.join-list{
    display: flex;
    align-items: center;
    gap: 10px;
    &-link{
        width: 44px;
        height: 44px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        background-color: rgba(255, 255, 255, 0.1);
        color: rgba(255, 255, 255, 1);
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        &:hover{
            background-color: rgba(33, 150, 243, 1);
        }
    }
    &-svg{
        fill: currentColor;
    }
}

