body{
    font-family: "Roboto";
    color: rgba(33, 33, 33, 1);
}

.header{
    padding: 24px 0;
}

.header-logo{
    font-family: "Raleway";
    font-size: 26px;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: #2196F3;
}

.header-span{
    font-family: 'Oleo Script';
    font-size: 26px;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: 0.03em; 

    color: #000000; 
}

.filter-list{
display: flex;
justify-content: center;
align-items: center;
}

.filter-item-btn{
    margin-right: 8px;
}

.filter-item-btn:hover{
    background-color: #2196F3;
}

.portfolio-list{
    margin-top: 34px;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.portfolio-item-title{
    padding-top: 20px;
    padding-left: 24px;
    color: #212121;
    font-size: 18px;
}

.portfolio-item-text{
    padding-top: 4px;
    padding-bottom: 20px;
    padding-left: 24px;
    color: #757575;
    font-size: 16px;
}

.portfolio-item-text1{
    padding-top: 4px;
    padding-bottom: 20px;
    padding-left: 24px;
    color: #757575;
    font-size: 16px;
    margin-bottom: 94px;
}

.portfolio-list-item:hover{
    box-shadow: -1px 4px 5px 0px rgba(0,0,0,0.31);
    -webkit-box-shadow: -1px 4px 5px 0px rgba(0,0,0,0.31);
    -moz-box-shadow: -1px 4px 5px 0px rgba(0,0,0,0.31);
}

.nav-list{
    display: flex;
    gap: 50px;
}

.contacts-list{
    display: flex;
    gap: 50px;
}

.header-wrap{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav-list-link{
    font-weight: 500;
    line-height: 1.1;
    letter-spacing: 0.02em;
    text-align: left;
}

.contacts-list-link{
 font-weight: 500;
 line-height: 1.1;
 letter-spacing: 0.02em;
 text-align: left;

}

.hero-btn{
    font-size: 16px;
    background-color: #2196F3;
    display: block;
    margin: 0 auto;
    margin-top: 30px;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    border-radius: 4px;
}

.hero-btn-text{
    font-family: "Roboto";
    font-size: 16px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0.06em;  
    color: rgba(255, 255, 255, 1);
}

.filter-item-btn-blue{
    background-color: #2196F3;
}
  
.hero-title{
    color: white;
    font-size: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

.hero{
    padding: 200px 0;
    background-image: 
    linear-gradient(
    to right,
  rgba(41, 46, 52, 0.4),
  rgba(41, 46, 52, 0.4)
    ),
    url(./Img\ \(23\).jpg);
}

.features{
    padding: 94px 0;
}

.features-list{
    display: flex;
    gap: 30px;
}

.features-list-title{
    font-size: 25px;
}

.features-list-title1::before{
    content: "";
    background-image: url(./Group\ 1.png);
    width: 250px;
    height: 100px;
    display: inline-block;
    font-size: 25px;
}

.features-list-title2::before{
    content: "";
    background-image: url(./Group\ 2.png);
    width: 250px;
    height: 100px;
    display: inline-block;
    font-size: 25px;
}

.features-list-title3::before{
    content: "";
    background-image: url(./Group\ 3.png);
    width: 250px;
    height: 100px;
    display: inline-block;
    font-size: 25px;
}

.features-list-title4::before{
    content: "";
    background-image: url(./Group\ 4.png);
    width: 250px;
    height: 100px;
    display: inline-block;
    font-size: 25px;
}

.features-list-description{
    margin-top: 10px;
}

.work{
    padding: 94px 0;
}

.work-title{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}

.work-list{
    display: flex;
    justify-content: flex-start;
    gap: 30px;
    padding-top: 50px;
}

.work-list-item-wrap{
    position: relative;
}

.work-list-text{
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #2F303ACC;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 70px;
    font-family: "Roboto";
    font-size: 14px;
    font-weight: 700;
    line-height: 16px;
    color: #FFFFFF; 
    text-transform: uppercase;
}

.team-title{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 94px;
    font-size: 30px;
}

.team-list-item{
    box-shadow: -1px 4px 5px 0px rgba(0,0,0,0.31);
    -webkit-box-shadow: -1px 4px 5px 0px rgba(0,0,0,0.31);
    -moz-box-shadow: -1px 4px 5px 0px rgba(0,0,0,0.31);
}

.team-list{
    display: flex;
    justify-content: flex-start;
    gap: 30px;
    padding-top: 50px;
    padding-bottom: 94px;
}

.team-list-title{
    padding-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.team-list-description{
    padding-top: 10px;
    padding-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.team-list-img{
   width: 270px;
   display: flex;
   justify-content: center;
   align-items: center;
   display: block;
}

.footer{
    background-color: rgb(47, 48, 58);
    padding: 60px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-logo{
    padding: 20px 0;
    font-family: "Raleway";
    font-size: 26px;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: #2196F3;
}

.logo-span{
    font-family: "Oleo Script";
    font-size: 26px;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}

.address-list-link{
    color: white;  
}

.address-list-link2{
    color: grey; 
}

.team{
    background-color: rgb(245, 244, 250);
    display: flex;
}

.social-list{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: 16px;
    margin-bottom: 30px;
}

.social-list-item{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.social-list-link{
    width: 44px;
    height: 44px;
}

.social-list-link:hover{
    border-radius: 25px;
    background-color:#2196F3;
}

.clients{
    padding-bottom: 94px;
    padding-top: 94px;
}

.clients-list{
    display: flex;
    gap: 30px;
}

.clients-list-item{
    flex-basis: calc((100% - 150px) / 6);
}

.clients-title{
    font-family: "Roboto";
    font-size: 36px;
    font-weight: 700;
    line-height: 42.19px;
    color:  #212121;
    text-align: center;
    margin-bottom: 50px;
}

.clients-list-link{
    height: 92px;
    border: 1px solid #AFB1B8;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
}

.clients-list-link:hover{
    border: 1px solid #2196F3;
}

.footer-container{
    display: flex;
    gap: 70px;
    margin-left: 211px;
}

.footer-social-list-title{
    font-family: "Roboto";
    font-size: 14px;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 0.03em;    
    color:  #FFFFFF;
    text-transform: uppercase;
    margin-bottom: 20px;
    margin-top: 12px;
}

.footer-social-list{
    display: flex;
    gap: 22px;
}

.footer-social-list-link:hover{
    border-radius: 25px;
    background-color:#2196F3;
}

.footer-form-wrap{
  margin-right: 211px;
}

.footer-form-title{
    font-family: Roboto;
    font-size: 14px;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 1);
    text-transform: uppercase;
    margin-bottom: 20px;
    margin-top: 12px;
}

.footer-form-input{
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    padding: 15px;
    width: 358px;
    outline: none;
}

.footer-form-input::placeholder{
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}

.footer-form{
    display: flex;
    gap: 12px;
}

.footer-form-btn{
    font-family: Roboto;
    font-size: 16px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0.06em;
    color: rgba(255, 255, 255, 1);
    width: 200px;
    height: 50px;
    border-radius: 4px;
    background-color: rgba(33, 150, 243, 1);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    padding: 10px 28px 10px 28px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.footer-form-link{
    width: 24px;
    height: 24px;
    display: flex;
    color: rgba(255, 255, 255, 1);
}

.footer-form-svg{
    fill: currentColor;
}

.footer-form-wrap-portfolio{
    margin-right: 211px;
  }
  
  .footer-form-title-portfolio{
    font-family: Roboto;
    font-size: 14px;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 1);
    text-transform: uppercase;
    margin-bottom: 20px;
    margin-top: 12px;
  }
  
  .footer-form-input-portfolio{
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    padding: 15px;
    width: 358px;
    outline: none;
  }
  
  .footer-form-input-portfolio::placeholder{
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
  }
  
  .footer-form-portfolio{
    display: flex;
    gap: 12px;
  }
  
  .footer-form-btn-portfolio{
    font-family: Roboto;
    font-size: 16px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0.06em;
    color: rgba(255, 255, 255, 1);
    width: 200px;
    height: 50px;
    border-radius: 4px;
    background-color: rgba(33, 150, 243, 1);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    padding: 10px 28px 10px 28px;
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .footer-form-link-portfolio{
    width: 24px;
    height: 24px;
    display: flex;
    color: rgba(255, 255, 255, 1);
  }
  
  .footer-form-svg-portfolio{
    fill: currentColor;
  }
  .backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    opacity: 1;
  }
  
  .backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
  }

  .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    max-width: 528px;
    padding: 40px;
    border-radius: 4px;
    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14),0px 1px 3px 0px rgba(0, 0, 0, 0.12);
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 1);
  }

  .modal-close-btn{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    position: absolute;
    padding: 9px;
    top: 14px;
    right: 14px;
    background-color: transparent;
  }

  .modal-btn-span{
    position: sticky;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
  }

  .modal-btn-span:hover{
    color: rgba(33, 150, 243, 1);
  }

  .modal-svg-btn{
    fill: currentColor;
  }

  .modal-close-btn:hover{
    color: rgba(33, 150, 243, 1);
  }

  .modal-desc{
    color: rgba(33, 33, 33, 1);
    text-align: center;
    font-family: "Roboto";
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.6px;
    margin-bottom: 12px;
  }

  .input-name,.input-tel,.input-email{
    background-color: transparent;
    color: black;
    border-radius: 4px;
    border: 1px solid rgba(33, 33, 33, 0.20);
    width: 100%;
    height: 40px;
    padding-left: 35px;
    margin-top: 4px;
  }

    .input-name:focus-within,.input-tel:focus-within,.input-email:focus-within, .modal-textarea:focus-within {
     outline: 1px solid rgba(33, 150, 243, 1);
    }

    .modal-textarea {
        margin-top: 4px;
        padding: 12px 16px 12px 16px;
        width: 100%;
        height: 120px;
        color: black;
        border-radius: 4px;
        border: 1px solid rgba(33, 33, 33, 0.20);
    }

    .modal-textarea::placeholder {
        color: rgba(117, 117, 117, 0.50);
        font-family: "Roboto";
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 0.12px;
      }

  .modal-form{
    font-family: Roboto;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.1;
    letter-spacing: 0.01em;
    color: var(--address);
  }

  .modal-label{
    display: block;
    margin-bottom: 10px;
  }

  .modal-span{
    position: relative;
    color: black;
  }

  .modal-span:focus-within {
    color: rgba(33, 150, 243, 1);
}

.modal-span-svg {
    position: absolute;
    top: 1px;
    left: 11px;
}

.modal-span-icon {
    fill: currentColor;
}

.modal-privacy {
    display: flex;
    gap: 7px;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.privacy-span {
    color: rgba(117, 117, 117, 1);
    font-family: "Roboto";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; 
    letter-spacing: 0.42px;
}

.privacy-link {
    color: rgba(33, 150, 243, 1);
    font-family: "Roboto";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.42px;
    text-decoration-line: underline;
}

.privacy-input {
    width: 16px;
    height: 15px;
}

.modal-send-btn{
    width: 200px;
    height: 50px;
    border-radius: 4px;
    background-color: rgba(33, 150, 243, 1);
    font-size: 16px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0.06em;
    color: rgba(255, 255, 255, 1);
    margin: 0 auto;
    display: block;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}